@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body{
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f4f8;
}

#conversor{
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

#conversor label{
  display: block;
  color: #486581;
  margin-bottom: 5px;
  font-weight: 600;  
}